@page
@model Kabylan.PL.Pages.Employee.MainEmployeePageModel
@{
}
   <div class="row gx-3">
        <div class="col col-sm-6">
            <div class="my-3 pt-3 px-3 border border-3">
                 <div class="w-100 bg-light">
                     <div class="row row-cols-1 row-cols-sm-4 text-center">
                         <div class="col ps-5">имя</div>
                         <div class="col">фамилия</div>
                         <div class="col">отчество</div>
                         <div class="col pe-5">Дата продажы</div>
                     </div>
                 </div>
                 <!-- appartment info -->
                 <div class="cd-grid gap-2 overflow-auto SaleCardsScrolPanel">
                     <ul class="list-group">
                         <form method="post">
                         @{
                             if (Model.Sales != null)
                                 foreach (var item in Model.Sales) {
                                                 <li class="list-group-item @((Model.Sale?.Id == item.Id && item.Id != 0) ? "active" : "")" >
                                                     <button class="list-group-item btn p-3 w-100" asp-page-handler="show" asp-route-saleId=@item.Id>
                                                         <div class="row row-cols-1 row-cols-sm-4">
                                                             <div class="col">@item?.Customer?.FirstName</div>
                                                             <div class="col">@item?.Customer?.MiddleName</div>
                                                             <div class="col">@item?.Customer?.LastName</div>
                                                             <div class="col">@item?.SaleDate.ToShortDateString()</div>
                                                         </div>
                                                     </button>
                                                 </li>
                                 }
                             }
                         </form>
                     </ul>
             
                 </div>
                 <form method="post">
                     <div class="row my-3 row-cols-1 row-cols-sm-3">
                        <div class="col-sm-2">
                            <button type="submit" class="btn overflow-hidden border-danger w-100" asp-page-handler="Remove" id="RemoveSale" asp-route-saleId="@Model.Sale?.Id">
                                удалить
                                </button>
                        </div>
                         <div class="col-sm-5">
                             <div class="dropdown">
                               <button class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                 поиск
                               </button>
                                 <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                                     <li><input type="text" asp-for="SerachCustomer.FirstName" class="form-control text-center" id="SerachCustomerFirstName" placeholder="Имя" /></li>
                                     <li><input type="text" asp-for="SerachCustomer.MiddleName" class="form-control text-center" id="SerachCustomerFirstName" placeholder="Фамилия" /></li>
                                     <li><input type="text" asp-for="SerachCustomer.LastName" class="form-control text-center" id="SerachCustomerFirstName" placeholder="Отчество" /></li>
                                     <li><button class="dropdown-item boreder-3 border-primary text-center w-100 my-3" type="submit" asp-page-handler="find" asp-route-saleId=@Model.Sale?.Id><b>ПОИСК</b></button></li>
                                     <li><button class="dropdown-item boreder-3 border-primary text-center w-100" type="submit" asp-page-handler="show" asp-route-saleId=@Model.Sale?.Id>отмена поиска</button></li>
                                 </ul>
                             </div>
                             </div>
                         <div class="col-sm-5">
                             <button class="btn bg-light w-100 border-primary" asp-page-handler="add">добавить продажу</button>
                         </div>
                     </div>
                 </form>
             
             </div>
        </div>

        <div class="col col-sm-6">
            <div class="my-3 p-3 text-center border border-3 overflow-auto CastomersPanel">

                <form method="post">
                    <div class="row p-3">

                        <!--User data-->
                        <div class="col-sm-4">
                            <label for="CustomerFirstName" class="form-label mb-0 mt-2">имя</label>
                            <input type="text" asp-for="Customer.FirstName" class="form-control text-center" id="CustomerFirstName" value=@Model.Customer?.FirstName>
                        </div>
                        <div class="col-sm-4">
                            <label for="CustomerMiddleName" class="form-label mb-0 mt-2">фамилия</label>
                            <input type="text" asp-for="Customer.MiddleName" class="form-control text-center" id="CustomerMiddleName" value=@Model.Customer?.MiddleName>
                        </div>
                        <div class="col-sm-4">
                            <label for="CustomerLastName" class="form-label mb-0 mt-2">отчество</label>
                            <input type="text" asp-for="Customer.LastName" class="form-control text-center" id="CustomerLastName" value=@Model.Customer?.LastName>
                        </div>

                        <!--Upartment data-->
                        <div class="col-sm-4">
                            <label for="Square" class="form-label mb-0 mt-2">площадь</label>
                            <input type="number" asp-for="Apartment.Square" class="form-control text-center" id="Square" value=@Model.Apartment?.Square min=1>
                        </div>
                        <div class="col-sm-4">
                            <label for="RoomCount" class="form-label mb-0 mt-2">к-во комнат</label>
                            <input type="number" asp-for="Apartment.RoomCount" class="form-control text-center" id="RoomCount" value=@Model.Apartment?.RoomCount min=1>
                        </div>
                        <div class="col-sm-4">
                            <label for="Price" class="form-label mb-0 mt-2">ценна $</label>
                            <input type="number" asp-for="Apartment.Price" class="form-control text-center" id="Price" value=@Model.Apartment?.Price min=1>
                        </div>

                        <!--Payment data-->
                        <div class="col-sm-4">
                            <label for="PaydMonths" class="form-label mb-0 mt-2">К-во месяцев для рассрочки</label>
                            <input type="number" asp-for="Sale.PaydMonths" class="form-control text-center" id="PaydMonths" value=@Model.Sale?.PaydMonths min=1>
                        </div>
                        <div class="col-sm-8 my-4 py-2 my-4">
                            <button type="submit" class="btn border-primary w-100" asp-page-handler="SaveChanges" asp-route-saleId="@Model.Sale?.Id">Сохранить изменения</button>
                        </div>          
                        
                        @{
                            int paydCount = 0;
                            int haveToPay = 0;
                            int monthPrice = 0;
                            if (Model.Sale != null && Model.Sale.Payments != null) {
                                foreach (var item in @Model.Sale?.Payments)
                                    paydCount += item.MoneyCount;
                                haveToPay = @Model.Apartment.Price - paydCount;
                            }
                            if(@Model.Sale != null && Model.Sale.Apartment != null && Model.Sale.PaydMonths != null && Model.Sale.PaydMonths != 0)
                            {
                                int difMonth = @Model.Sale.PaydMonths - (Math.Abs((@Model.Sale.SaleDate.Month - DateTime.Today.Month) + 12 * (@Model.Sale.SaleDate.Year - DateTime.Today.Year)));
                                if (difMonth == 0)
                                    difMonth = 1;
                                monthPrice = haveToPay / difMonth;
                            }
                        }
                        <div class="col-sm-4">
                            <label for="payd" class="form-label">оплата/месяц</label>
                            <input type="text" class="form-control text-center" id="payd" value="@monthPrice.ToString("N0") $" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="payd" class="form-label">оплачено</label>
                            <input type="text" class="form-control text-center" id="payd" value="@paydCount.ToString("N0") $" disabled>
                         </div>
                         <div class="col-sm-4">
                             <label for="havePayd" class="form-label">ост-сь оплатить</label>
                             <input type="text" class="form-control text-center" id="havePayd" value="@haveToPay.ToString("N0") $" disabled>
                         </div>
                    </div>
                </form>
            </div>

            <div class="my-3 p-3 text-center border border-3 d-none d-sm-block" id="paymants">
                <form method="post">

                <div class="w-100 bg-light">
                    <div class="row row-cols-sm-4">
                        <div class="col-3 text-center">номер</div>
                        <div class="col-3 text-center">дата оплаты</div>
                        <div class="col-3 text-center">сумма</div>
                    </div>
                </div>
                <ul class="list-group overflow-auto PaymentPanel">
                @{
                    int j = 1;
                    if(Model.Sale != null && Model.Sale?.Payments != null)
                        foreach(var item in Model.Sale.Payments)
                        {
                                <li class="list-group-item">
                                    <button class="list-group-item btn w-100 @((Model.Payment?.Id == item.Id && item.Id != 0) ? "border-2 border-primary" : "border-0")" asp-page-handler="ShowPayment" asp-route-saleId=@Model.Sale.Id asp-route-paymentId=@item.Id>
                                    <div class="row row-cols-1 row-cols-sm-4">
                                        <div class="col-2">
                                           @j
                                        </div>
                                        <div class="col-4">
                                            @item?.Date.ToShortDateString()
                                        </div>
                                        <div class="col-3">
                                            @item?.MoneyCount.ToString("N0") $
                                        </div>
                                    </div>
                                    </button>
                                </li>
                            j++;
                        }
                }
                </ul>

                <div class="row">
                    <div class="col-3">
                     <input type="text" asp-for="Payment.Date" class="form-control text-center" value=@DateTime.Today.ToShortDateString()>
                    </div>
                    <div class="col-3">
                     <input type="number" asp-for="Payment.MoneyCount" class="form-control text-center" value=0>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn border-primary w-100" asp-page-handler="AddPayment" asp-route-saleId="@Model.Sale?.Id">Добавить оплату</button>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn overflow-hidden  border-danger w-100" asp-page-handler="RemovePayment" asp-route-saleId=@Model.Sale?.Id asp-route-paymentId=@Model.Payment?.Id>удалить</button>
                    </div>
                </div>
                </form>
            </div>

        </div>
   </div>

